<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Xbox">
  <item SE="true">
      <listing>Xbox series X</listing>
      <price>599.00</price>
    </item>
    <item>
      <listing>Controller</listing>
      <price>54.99</price>
    </item>
    <item>
      <listing>Gift Card</listing>
      <price>30.00</price>
    </item>
  </category>
  <category name="PlayStation">
    <item SE="true">
      <listing>PlayStation 5</listing>
      <price>599.00</price>
    </item>
    <item>
      <listing>Controller</listing>
      <price>54.99</price>
    </item>
    <item>
      <listing>Gift Card</listing>
      <price>30.00</price>
    </item>
  </category>
  <category name="Nintendo">
    <item SE="true">
      <listing>Nintendo Switch</listing>
      <price>399.99</price>
    </item>
    <item>
      <listing>Controller</listing>
      <price>3.80</price>
    </item>
    <item>
      <listing>Gift Card</listing>
      <price>79.99</price>
    </item>
  </category>
  <category name="PC">
    <item>
      <listing>Headset Razer</listing>
      <price>149.00</price>
    </item>
    <item>
      <listing>Logitech Mouse</listing>
      <price>113.00</price>
    </item>
    <item>
      <listing>Logitech Keyboard</listing>
      <price>96.00</price>
    </item>
    <item>
      <listing>El Gato Facecam</listing>
      <price>139.99</price>
    </item>
  </category>
</menu>